testes/xsd_medio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element name="nome" type="xs:string"/>
      <xs:element name="idade" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="cliente" type="Pessoa"/>
  <xs:element name="produto" type="xs:string"/>
</xs:schema>
